/*------------------------------------------------------------------------------------------
  init definition
------------------------------------------------------------------------------------------*/
* {
	font-family: "Meiryo";
	font-size: 11px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

body {
	overflow: hidden;
	background-color: transparent;
}

/*------------------------------------------------------------------------------------------
  font color
------------------------------------------------------------------------------------------*/
.fontGold {
	color: #DED7BE;
	text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
	font-weight: 300;
	white-space: nowrap;
	padding: 3px;
}

.fontBlue {
	color: #E2EBF5;
	text-shadow: -1px 0 2px #217AA2, 0 1px 2px #217AA2, 1px 0 2px #217AA2, 0 -1px 2px #217AA2;
	font-weight: 400;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	padding: 3px;
}

.myColor {
	color: #E4F5E2 !important;
	text-shadow: -1px 0 2px #22A221, 0 1px 2px #22A221, 1px 0 2px #22A221, 0 -1px 2px #22A221 !important;
}
.deadYatsu {
	color: #FFA0A0 !important;
	text-shadow: -1px 0 2px #802020, 0 1px 2px #802020, 1px 0 2px #802020, 0 -1px 2px #802020 !important;
	_text-decoration: line-through;
}
.warning {
	color: #fcfaef !important;
	text-shadow: -1px 0 2px #c9a700, 0 1px 2px #c9a700, 1px 0 2px #c9a700, 0 -1px 2px #c9a700 !important;
}

/*------------------------------------------------------------------------------------------
  resize handle
------------------------------------------------------------------------------------------*/
.resizeHandle:after {
	content: "";
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 16px;
	height: 16px;
	background-image: url(../../handle.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

/*------------------------------------------------------------------------------------------
  status layout
------------------------------------------------------------------------------------------*/
#status {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-repeat: no-repeat;
	background-size: 19px 19px;
	background-position: left center;
	padding-left: 22px;

	line-height: 19px;
	white-space: nowrap;

	overflow: hidden;
}

#status.offline {
	background-image: url(../../icon/offline.png);
}

#status.online {
	background-image: url(../../icon/online.png);
}

/*------------------------------------------------------------------------------------------
  data area layout

  +--- charData ----------------------------------------------+
  |  +-----+ +----------------------------+ *-------------+   |
  |  | img | | mainData                   | | subData     |   |
  |  +-----+ +----------------------------+ +-------------+   |
  +-----------------------------------------------------------+

  img      : contain job image.
  mainData : contain charactor name, dps bar, hps bar and each value.
  subData  : contain accuracy(acc), crithit(crit) and overheal(ovh).
------------------------------------------------------------------------------------------*/
.charData {
	display: flex;
	padding: 3px 0px 2px 0px;
}
.charData:first-of-type {
	padding-top: 0px;
}

.imgArea {
	width: 25px;
	background-repeat: no-repeat;
	background-position: center calc(50% - 2px);
	background-size: 20px auto;
}

.mainData {
	position:relative;
	width: calc(100% - 25px - 80px);
}

.subData {
	width: 80px;
}

#encounter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#encTxt {
	padding: 2px;
}

/*------------------------------------------------------------------------------------------
  encounter area
   + button design
------------------------------------------------------------------------------------------*/
button {
	display: block;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
	background: rgba(221, 213, 184, 0.3);
	border: 1px solid #DED7BE;
	border-radius: 3px;
	box-shadow: 0px 0px 1px 1px #795516;
	line-height: 1em;
	width: 60px;
	font-size: 0.9em;
}

.back button {
	display: block;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
	background: rgba(80, 80, 80, 1);
	border-radius: 3px;
	border: 1px solid #333;
	line-height: 1em;
	width: 60px;
	font-size: 0.9em;
	box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.1) inset;
	margin-top: -2px;
}

#check {
	display: none;
}

#checkLabel {
	position: relative;
	padding-left: 15px;
	line-height: 0.9em;
	overflow: visible;
}

#checkLabel:before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: 0px;
	width: 0.9em;
	height: 0.9em;

	background: rgba(221, 213, 184, 0.2);
	border: 1px solid #DED7BE;
	box-shadow: 0px 0px 1px 1px #795516;

	background: rgba(55, 55, 55, 0.4);
	border: 1px solid rgba(46, 45, 45, 0.65);
	box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2) inset;
	border-radius: 1px;
}

#check:checked + #checkLabel:before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: 0px;
	width: 0.9em;
	height: 0.9em;
/*
	background: rgba(221, 213, 184, 0.2);
	border: 1px solid #DED7BE;
	box-shadow: 0px 0px 1px 1px #795516;
*/
	background: rgba(55, 55, 55, 1);
	border: 1px solid #2e2d2d;
	box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2) inset;
	border-radius: 1px;
}

#check:checked + #checkLabel:after {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0.8em;
	height: 0.4em;
	border-style: solid;
	border-color: transparent transparent #39e945 #39e945;
	border-width: 0px 0px 3px 3px;
	transform: rotate(-45deg);
}
/*------------------------------------------------------------------------------------------
  mainData area
   + charactor name area
------------------------------------------------------------------------------------------*/
.nameValue {
	line-height: 0.8em;
	width: 130px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*------------------------------------------------------------------------------------------
  mainData area
   + bar layout
------------------------------------------------------------------------------------------*/
.bararea.dps {
	position: relative;
	height: 15px;
	margin-top: 0px;

	overflow: visible;
}

.bararea.dmg {
	position: relative;
	height: 15px;
	margin-top: -3px;
	overflow: visible;
}

.bararea.hps {
	position: relative;
	height: 15px;
	margin-top: -3px;
	overflow: visible;
}

.other1 .bararea.hps {
	position: relative;
	height: 15px;
	margin-top: -3px;

	overflow: visible;
}

div.bar {
	position: absolute;
	bottom: 0px;
	left: 2px;
	height: 4px;
	text-align: right;
	background-color: rgba(228, 245, 226, 1);
	margin-left: 4px;
	margin-bottom: 3px;
	opacity: 0.95;
	width: calc(100%);
	overflow: hidden;

	/* round corner */
	_border-radius: 4px;
	/* solid corner */
	transform: skewX(-40deg);
}

div.bar:after {
	content: "";
	position: absolute;
	top: 0px;
	left: -50px;
	width: 40px;
	height: 100%;
	background: -webkit-linear-gradient(
		left,
		transparent 0%,
		#fff 45%,
		#fff 55%,
		transparent 100%
	);
	opacity: 0.4;

	-webkit-animation-name: move;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 0.2s;
	-webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes move {
	0% {
		left: -50px;
	}
	35% {
		left: 100%;
	}
	100% {
		left: 100%;
	}
}

div.barguide {
	position: absolute;
	bottom: 0px;
	left: 2px;
	width: calc(100% - 14px);
	height: 4px;
	text-align: right;
	background-color: rgba(145, 145, 145, 1);
	border: 1px solid rgba(145, 145, 145, 1);
	margin-left: 4px;
	margin-bottom: 3px;
	opacity: 0.6;

	overflow: hidden;

	/* round corner */
	_border-radius: 4px;
	/* solid corner */
	transform: skewX(-40deg);
}

/*------------------------------------------------------------------------------------------
  mainData area
   + bar color
------------------------------------------------------------------------------------------*/
.bararea .healer {
	background: rgba(120, 203, 82, 1);
	background: -webkit-linear-gradient(
		top,
		rgba(120, 203, 82, 1) 0%,
		rgba(120, 203, 82, 1) 50%,
		rgba(103, 173, 71, 1) 50%,
		rgba(103, 173, 71, 1) 100%
	);
	border: 1px solid rgba(60, 101, 41, 1);
	box-shadow: 0px 0px 2px 2px rgba(120, 203, 82, 0.3);
}

.bararea .dps {
	background: rgba(255, 150, 150, 1);
	background: -webkit-linear-gradient(
		top,
		rgba(255, 150, 150, 1) 0%,
		rgba(255, 150, 150, 1) 50%,
		rgba(255, 100, 100, 1) 50%,
		rgba(255, 100, 100, 1) 100%
	);
	border: 1px solid rgba(248, 50, 50, 1);
	box-shadow: 0px 0px 2px 2px rgba(255, 185, 187, 0.3);
}

.bararea .tank {
	background: rgba(143, 158, 233, 1);
	background: -webkit-linear-gradient(
		top,
		rgba(143, 158, 233, 1) 0%,
		rgba(143, 158, 233, 1) 50%,
		rgba(109, 131, 232, 1) 50%,
		rgba(109, 131, 232, 1) 100%
	);
	border: 1px solid #354593;
	box-shadow: 0px 0px 2px 2px rgba(143, 158, 233, 0.3);
}

.bararea .other1,
.bararea .other2 {
	background: rgba(255, 204, 102, 1);
	background: -webkit-linear-gradient(
		top,
		rgba(255, 204, 102, 1) 0%,
		rgba(255, 204, 102, 1) 50%,
		rgba(255, 180, 50, 1) 50%,
		rgba(255, 180, 50, 1) 100%
	);
	border: 1px solid #f87514;
	box-shadow: 0px 0px 2px 2px rgba(255, 204, 102, 0.3);
}

/*------------------------------------------------------------------------------------------
  mainData area
   + bar title & bar value
------------------------------------------------------------------------------------------*/
.barTotal {
	position: absolute;
	display: block;
	height: 100%;
	overflow: visible;
}

div.bartitle {
	position: absolute;
	bottom: -3px;
	left: 15px;
	font-size: 0.9em;
	_font-style: oblique;
}

div.barvalue {
	position: absolute;
	bottom: -4px;
	left: -5px;
	width: calc(100% - 1px);
	min-width: 85px;
	text-align: right;
	margin-right: 5px;
	_font-style: oblique;
}

/*------------------------------------------------------------------------------------------
  mainData area
   + max value layout
------------------------------------------------------------------------------------------*/
.maxValue {
	position: absolute;
	top: 0px;
	right: 14px;
	width: 85px;
	text-align: right;
	line-height: 0.8em;
	font-size: 0.95em;
}

.maxValue.dps:before,
.maxValue.tank:before,
.maxValue.other2:before {
	content: "MaxDmg";
	position: absolute;
	left: 0px;
	color: #DED7BE;
	text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
	font-weight: 300;
	white-space: nowrap;
	line-height: 0.8em;
	font-size: 0.95em;
	padding: 0px 2px;
}

.maxValue.healer:before,
.maxValue.other1:before {
	content: "MaxHeal";
	position: absolute;
	left: 0px;
	color: #DED7BE;
	text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
	font-weight: 300;
	white-space: nowrap;
	line-height: 0.8em;
	font-size: 0.95em;
}

/*----------------------------------------------------------------------------------------
  subData area
   + data layout
----------------------------------------------------------------------------------------*/
.subData > div {
	display: flex;
}

.subData > div {
	line-height: 0.8em;
}

.subData > div:first-of-type {
	line-height: 0.8em;
}

.subData > div:last-of-type {
	line-height: 0.8em;
}

/*
.healer .subData > div:last-of-type {
	line-height: 0.8em;
}
*/
.rightTitle {
	font-size: 0.9em !important;
	text-align: right;
	width: 40px;
}

.rightValue {
	font-size: 0.9em !important;
	text-align: right;
	width: 45px;
}

/*------------------------------------------------------------------------------------------
  window mode
------------------------------------------------------------------------------------------*/
#status.back {
	position: relative;
	padding: 4px 5px 4px 10px;
	background: -webkit-linear-gradient(
		top,
		#333 0%,
		#333 50%,
		#222 50%,
		#222 100%
	);
	border-radius: 3px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: -3px;
	z-index: 1;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.7);
	border: 1px solid #222;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	padding-left: 30px;
}

#status.back:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 100%;

	background-repeat: no-repeat;
	background-size: 19px auto;
	background-image: url(../../icon/offline.png);
	background-position: center center;
}

#encounter.back {
	position: relative;
	padding: 4px 5px 4px 10px;
	background: -webkit-linear-gradient(
		top,
		#333 0%,
		#333 50%,
		#222 50%,
		#222 100%
	);
	border-radius: 3px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: -3px;
	z-index: 1;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.7);
	border: 1px solid #222;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	padding-left: 30px;
}
#encounter.back:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 100%;

	background-repeat: no-repeat;
	background-size: 19px auto;
	background-image: url(../../icon/online.png);
	background-position: center center;

	-webkit-animation-name: flush;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.2s;
	-webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes flush {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#combatant.back {
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
	margin: 0px 4px;
}

.back .charData {
	display: flex;
	padding: 3px 5px 0px 0px;

	background: url(../../texture/bg.png);
	background-position: center center;
	border-style: solid;
	border-width: 1px;
	border-color: #555 #222 #222 #555;
}
.back .charData:first-of-type {
	padding: 10px 5px 0px 0px;
}

.back .bararea .healer {
	background: rgba(120, 203, 82, 1);
	background: -webkit-linear-gradient(
		top,
		rgba(120, 203, 82, 1) 0%,
		rgba(120, 203, 82, 1) 50%,
		rgba(103, 173, 71, 1) 50%,
		rgba(103, 173, 71, 1) 100%
	);
	border: 1px solid rgba(60, 101, 41, 1);
	box-shadow: 0px 0px 2px 2px rgba(120, 203, 82, 0.1);
}

.back .bararea .dps {
	background: rgba(255, 150, 150, 1);
	background: -webkit-linear-gradient(
		top,
		rgba(255, 150, 150, 1) 0%,
		rgba(255, 150, 150, 1) 50%,
		rgba(255, 100, 100, 1) 50%,
		rgba(255, 100, 100, 1) 100%
	);
	border: 1px solid rgba(248, 50, 50, 1);
	box-shadow: 0px 0px 2px 2px rgba(255, 185, 187, 0.1);
}

.back .bararea .tank {
	background: rgba(143, 158, 233, 1);
	background: -webkit-linear-gradient(
		top,
		rgba(143, 158, 233, 1) 0%,
		rgba(143, 158, 233, 1) 50%,
		rgba(109, 131, 232, 1) 50%,
		rgba(109, 131, 232, 1) 100%
	);
	border: 1px solid #354593;
	box-shadow: 0px 0px 2px 2px rgba(143, 158, 233, 0.1);
}

.back .bararea .other1,
.back .bararea .other2 {
	background: rgba(255, 204, 102, 1);
	background: -webkit-linear-gradient(
		top,
		rgba(255, 204, 102, 1) 0%,
		rgba(255, 204, 102, 1) 50%,
		rgba(255, 180, 50, 1) 50%,
		rgba(255, 180, 50, 1) 100%
	);
	border: 1px solid #f87514;
	box-shadow: 0px 0px 2px 2px rgba(255, 204, 102, 0.1);
}
