.sam:after {
	background-image: url(../job/Sam.png);
}
.drg:after {
	background-image: url(../job/Drg.png);
}
.mnk:after {
	background-image: url(../job/Mnk.png);
}
.blm:after {
	background-image: url(../job/Blm.png);
}
.smn:after {
	background-image: url(../job/Smn.png);
}
.rdm:after {
	background-image: url(../job/Rdm.png);
}
.nin:after {
	background-image: url(../job/Nin.png);
}
.brd:after {
	background-image: url(../job/Brd.png);
}
.mch:after {
	background-image: url(../job/Mch.png);
}
.dnc:after {
	background-image: url(../job/Dnc.png);
}
.gnb:after {
	background-image: url(../job/Gnb.png);
}
.drk:after {
	background-image: url(../job/Drk.png);
}
.pld:after {
	background-image: url(../job/Pld.png);
}
.war:after {
	background-image: url(../job/War.png);
}
.whm:after {
	background-image: url(../job/Whm.png);
}
.sch:after {
	background-image: url(../job/Sch.png);
}
.ast:after {
	background-image: url(../job/Ast.png);
}
.ltb:after {
	background-image: url(../job/Ltb.png);
}
.other1:after {
}
.other2:after {
}
